.fields {
  font-size: 15px;
  float: left;
}

.name, .email, .address, .postcode, .date, .phone, .btn {
    display: inline-block;
    float: left;
    width: 95%;
    height: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    font-size: 15px;
}

.componentStyle {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: left;
    height: 20px;
    margin-bottom: 2%;
    margin-left: 5%;
}

.error {
  color: red;
}

.paper {
    height: auto;
    width: 350px;
    padding: 3%;
    margin-top: 20px;
    margin-left: 140px;
    display: inline-block;
}
